.about-me {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(241, 237, 237);
    padding: 3%;
    margin: 1%;
  }
  
  .social-links{
    border-top: 1px solid rgb(241, 237, 237);
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 3%;
  }
  
  .icons {
    width: 4%;
    padding-right: 1%;
    margin-bottom: 1%;
    margin-top: 2%;
  }
  
  .social-network-links {
    border-bottom: 1px dashed rgb(168, 165, 165);
    margin: 0.5%;
  }