h2 {
  color: rgb(168, 165, 165);
  width: 50%;
  padding: 1%;
  border-bottom: 1px solid rgb(168, 165, 165);
}

.ant-form {
  border: 1px solid rgb(168, 165, 165);
  width: 100%;
  padding: 1% !important;
  margin-top: 2% !important;
  display: flex;
  flex-direction: column;
}

Input {
  width: 90% !important;
  border: 1px solid rgb(80, 78, 78) !important;
  margin-left: 3% !important;
  margin-bottom: 1% !important;
  border-radius: 6px !important;
}

.labels {
  padding-bottom: 1%;
  margin-left: 3%;
}

Button {
  margin-top: -4.25% !important;
  margin-left: 83.2% !important;
  width: 10%;
  background-color: rgb(235, 229, 229) !important;
  border-radius: 6px !important;
  border: 1px solid rgb(80, 78, 78) !important;
}

Textarea {
  width: 90% !important;
  border: 1px solid rgb(80, 78, 78) !important;
  margin-left: 3% !important;
  margin-bottom: 2% !important;
  border-radius: 6px !important;
}

.picture {
  margin-left: 3%;
  padding-bottom: 1% !important;
  padding-top: 1%!important;
}
