/*Post-Widget*/
.widget{
    margin-bottom: 30px!important;
}

.widget .ant-card-body{
    padding-top: 13px;
}

.widget .header-div h2{
    padding-top: 0;
    margin-top: 0;
    color: #444;
}
  
.widget .header-div{
    width: 100%;
    display: flex;
    justify-content: left;
    border-bottom: 1px solid #eee;
}

.widget .header-content{
    width: 90%;
    height: 100%;
    border-bottom: 1px solid #bebebe;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.widget .header-content span{
    color: grey;
    font-size: large;
}

.widget .post-element{
    width: 100%;
    padding: 10px 0;
    display: flex;
    border-bottom: 1px dashed #ccc;
    align-items: flex-start;
    justify-content: flex-end;
}

.widget  .post-element:last-child{
    border: none;
}

.widget .post-avatar{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    
}

.widget .post-avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widget .post-element a {
    color: black;
}

.widget .post-content{
    width: 80%;
    margin: 0 10px;
    display: flex;
}

.widget .modal-name a{
color: black;
font-size: larger;
}

.widget .modal-image{
    width: 90%;
}

.widget .modal-div{
    width: 100%;
    display: flex;
    justify-content: center;
}



/*Photo-Widget*/
.widget .photo-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    justify-content: center;
}

.widget .photo-content-div {
    display: grid; 
    grid-template-columns: repeat(auto-fill, 95px);
    gap: 15px 15px; 
    padding: 15px 0;
    justify-content: center;

}

.widget .photo-element{
    width: 100px;
    height: 100px;
    border: 1px solid #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget .photo-element img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}


/* Members-Widget */
.members-widget-content{
    width: 80%;
    border: 1px solid #bebebe;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.members-content-div {
    display: grid; 
    grid-template-columns: repeat(auto-fill, 50px);
    gap: 20px 20px; 
    padding: 20px 0;
    justify-content: center;

}

.ant-modal-root .modal-div img{
    max-width: 100%;
}