.members-container{
    width: 100%;
    display: flex;
}

.members-content{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widgets-content{
    width: 35%;
}

.search-container{
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #bebebe;
    margin-top: 30px;
}

.search-container span{
    color:grey;
    font-size: large;
}

.search-container input{
    width: 35%;
    height: 5vh;
    border: 1px solid #bebebe;
    border-radius: 5px;
    color: black;
    background-color: #ebebebd0;
    padding: 0 5px;
}

.users-container{
    width: 90%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #bebebe;
    margin-top: 30px;
}

.background-part{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #bebebe ;
    position: relative;
}

.info-part{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

.img-container{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 20px;
    border: 1px solid #bebebe;
}

.img-container img{
    width: 95px;
    height: 95px;
    border-radius: 50%;
}

.background-part img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-part div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    height: 70%;
    z-index: 10;
}

.info-part div a {
    text-decoration: none;
    color: black;
    font-size: large;
}

.info-part div a :hover{
    color: #1890ff
}