/* Header */
.ant-layout-header{
  display: flex;
  justify-content: center;
}
.xLogo{
  font-size: 18px;
  font-weight: bold;
  color: #f5f5f5;
}
.headLeft{
  width: 20%;
  min-width: 200px;
  text-align: center;
  padding-right: 5%;
}
.headRight{
  width: 27%;
  min-width: 600px;
}

/* Layout */
.ant-layout-content{
  width:1200px
}
.ant-layout {
  background: #F0F2F5;
}
.site-layout-content {
  min-height: 80vh;
  margin-top: 0;
  background: #fff;
  box-sizing: border-box;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

/* Menu */
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected, 
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #1890ff;
}

/* Login / Registration Pages */
.login-page,
.register-page{
  padding:50px;
}
.login-page .ant-divider-horizontal.ant-divider-with-text,
.register-page .ant-divider-horizontal.ant-divider-with-text{
  margin: 30px 0;
}

/* Profile Pages */
.profile-head{
  width: 100%;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.profile-content{
  padding: 20px 50px;
}
.profile-panel{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.profile-panel .profile-panel-left{
  padding-left: 5%;
}
.profile-panel .profile-panel-left img{
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  margin-top: -130px;
  border-radius: 50%;
}
.profile-panel .profile-panel-left .ant-image-mask {
  margin-top: -130px;
  border-radius: 50%;
}
.profile-panel .profile-panel-center{
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  padding-left: 10px;
  padding-top: 5px;
}
.profile-panel .profile-name{
  font-size: 24px;
  font-weight: bold;
}
.profile-panel h3.ant-typography {
  margin-bottom: 0px;
}
.profile-panel .profile-panel-right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
}
.profile-stat-box {
  background-color: #f5f5f5;
  padding:5px 10px;
  min-width:110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:14px;
  text-transform: uppercase;
  margin: 10px 10px 10px 0;
}

.profile-add-friend{
     margin: 20px 10px 10px 20px;
}

/* Mobile */
@media screen and (max-width: 1400px) {
  .ant-layout-content{
    max-width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .ant-layout-content{
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .headRight{
    min-width:auto;
    width: 44%;
  }
}
/*Activity design*/
.activityMain {
     display: flex;
     flex-direction: column;
     margin: auto, 10px;
}

.activity-list{
     margin: 20px 0;
}

.ant-card.ant-card-bordered{
     margin-bottom: 20px;
}

.activityCard {
     border: 1px solid rgba(211, 209, 211, 0.432);
     width: 720px;
     margin-bottom: 20px;
}
.ant-tabs-tabpane-active .likesComments {
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     font-size: 15px;
}
.ant-tabs-tabpane-active .commentsandtool {
     display: flex;
     flex-direction: row;
     margin-right: 10px;
}
.ant-tabs-tabpane-active .toolcomment{
     display: flex;
     flex-direction: row;
}
.ant-tabs-tabpane-active .likess {
     margin-left: 15px;
}
.ant-tabs-tabpane-active .activityAvatar {
     width: 40px;
     border-radius: 50%;
     margin: 10px;
}
.ant-tabs-tabpane-active .activityPosts {
     margin: 10px;
}
.ant-tabs-tabpane-active .avatarUserName {
     display: flex;
     flex-direction: row;
}
.ant-tabs-tabpane-active .likeHeart {
     display: flex;
     flex-direction: row;
     margin-top: 5px;
     margin-left: 10px;
}
.ant-tabs-tabpane-active .likeHeart h4 {
     margin-left: 17px;
}
.ant-tabs-tabpane-active .commentContainer {
     display: flex;
     flex-direction: column;
}
.ant-tabs-tabpane-active .commentContainer h4 {
     padding-top: 10px;
}
.ant-tabs-tabpane-active .comments {
     display: flex;
     flex-direction: row;
     margin-right: 12px;
}
.ant-tabs-tabpane-active .activity-comment-list{
     padding: 15px 30px;
     border-top: 6px solid #ececec;
     background: #f5f5f5;
     margin-top: 15px;
}
.ant-tabs-tabpane-active .comments h4 {
     margin-left: 10px;
      cursor: pointer;
}
.ant-tabs-tabpane-active .commentBtn {
     margin-top: 5px;
     cursor: pointer;
}
.ant-tabs-tabpane-active .comment-editor {
     display: flex;
     flex-direction: row;
     width: 100%;
}
.ant-tabs-tabpane-active .comment-editor .ant-row.comment-field-content{
     width: 100%;
}
.ant-tabs-tabpane-active .comment-editor .ant-form{
     width: 100%;
}
.ant-tabs-tabpane-active .postImage {
     width: 700px;
     max-height: 500px;
     object-fit: cover;
}
.ant-tabs-tabpane-active .commentsHeaderPart {
     display: flex;
     flex-direction: row;
}
.ant-tabs-tabpane-active .commentsDataPart {
     display: flex;
     flex-direction: column;
     font-size: 14px;
     margin-left: 10px;
}
.ant-tabs-tabpane-active .commentsAvatar {
     width: 30px;
     border-radius: 50%;
     margin-left: 50px;
     margin-top: 10px;
}
.ant-tabs-tabpane-active .commentsAvatarReply {
     width: 30px;
     border-radius: 50%;
     margin-left: 50px;
     margin-top: 10px;
}
.ant-tabs-tabpane-active .commentsAvatarReply {
     width: 20px;
     border-radius: 50%;
     margin: 10px;
}
.ant-tabs-tabpane-active .commentsFooterBtn {
     border-top: 2px dotted rgba(194, 192, 192, 0.651);
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     border-bottom: 1px solid rgba(194, 192, 192, 0.651);
     cursor: pointer;
}
.ant-tabs-tabpane-active .commentsFooterBtn span {
     margin-right: 10px;
     cursor: pointer;
}
.ant-tabs-tabpane-active .line {
     color: rgba(241, 237, 237, 0.479);
}
.ant-tabs-tabpane-active ant-tabs-tabpane-active .fileUploader {
     display: flex;
     flex-direction: row;
     margin-left: 40px;
}
.ant-tabs-tabpane-active .fileUploader button {
     width: 130px;
     height: 35px;
     font-size: 14px;
     margin-left: 20px;
     border: 1px solid #2f89f0;
     background-color: #2f89f0;
     color: rgb(238, 227, 227);
     transition-duration: 0.3s;
}
.ant-tabs-tabpane-active .fileUploader button:hover {
     width: 130px;
     height: 30px;
     font-size: 14px;
     background-color: #0751a5;
     color: rgb(222, 228, 240);
     transition-duration: 0.3s;
}
.ant-tabs-tabpane-active .loadMore {
     display: flex;
     width: 720px;
     justify-content: space-around;
}
.ant-tabs-tabpane-active .loadMore button {
     width: 150px;
     border-radius: 4%;
     border: 1px solid #2f89f0;
     background-color: #2f89f0;
     color: rgb(238, 227, 227);
     font-size: 20px;
     cursor: pointer;
}
.ant-tabs-tabpane-active .loadMore button:hover {
     background-color: #0751a5;
     color: rgb(222, 228, 240);
     transition-duration: 0.3s;
}

.ant-tabs-tabpane-active .ant-row.ant-form-item.post-field-content{
  margin-bottom: 0px;
}

.ant-tabs-tabpane-active .post-editor .ant-form-item{
  margin-bottom: 0;
}
.activity-list .activity-comments{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     cursor: pointer;
}
.activity-list .activity-comments span{
     display: inline-block;
     margin-left: 5px;
}
.activity-list .anticon-setting{
     margin-left: 10px!important;
     border-left: 1px solid #eaeaea;
     padding-left: 10px;
}