/* Header */
.ant-layout-header{
  display: flex;
  justify-content: center;
}
.xLogo{
  font-size: 18px;
  font-weight: bold;
  color: #f5f5f5;
}
.headLeft{
  width: 55%;
  min-width: 200px;
}
.headRight{
  width: 44%;
  min-width: 600px;
}

/* Layout */
.ant-layout-content{
  width:1200px
}
.ant-layout {
  background: #F0F2F5;
}
.site-layout-content {
  min-height: 80vh;
  margin-top: 0;
  background: #fff;
  box-sizing: border-box;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

/* Menu */
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected, 
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #1890ff;
}

/* Login / Registration Pages */
.login-page,
.register-page{
  padding:50px;
}
.login-page .ant-divider-horizontal.ant-divider-with-text,
.register-page .ant-divider-horizontal.ant-divider-with-text{
  margin: 30px 0;
}

/* Profile Pages */
.profile-head{
  width: 100%;
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.profile-content{
  padding: 20px 50px;
}
.profile-panel{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.profile-panel .profile-panel-left{
  padding-left: 5%;
}
.profile-panel .profile-panel-left img{
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  margin-top: -130px;
  border-radius: 50%;
}
.profile-panel .profile-panel-left .ant-image-mask {
  margin-top: -130px;
  border-radius: 50%;
}
.profile-panel .profile-panel-center{
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  padding-left: 10px;
  padding-top: 5px;
}
.profile-panel .profile-name{
  font-size: 24px;
  font-weight: bold;
}
.profile-panel h3.ant-typography {
  margin-bottom: 0px;
}
.profile-panel .profile-panel-right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
}
.profile-stat-box {
  background-color: #f5f5f5;
  padding:5px 10px;
  min-width:110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:14px;
  text-transform: uppercase;
  margin: 10px 10px 10px 0;
}
/* Mobile */
@media screen and (max-width: 1400px) {
  .ant-layout-content{
    max-width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .ant-layout-content{
    max-width: 100%;
  }
}
<<<<<<< HEAD
/*Activity design*/
.activityMain{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.activityCard{
border-bottom: 1px solid rgb(183, 181, 185);
width: 700px;
margin-bottom: 5px;
}
.likesComments{
  position: relative;
  flex-direction:row;
  font-size:15px;
  font-family:'Times New Roman', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.activityAvatar{
  width: 70px;
  border-radius:70%;
  margin:10px
}
.activityPosts {
  margin:10px;
}
.avatarUserName {
   display: flex;
   flex-direction: row;
}
.updateButton {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  height: 30px;
  width: 700px;
  margin-bottom: 50px;
}
.updateButton input {
  width:570px;
  height:50px;
  margin-right: 15px;
  border-radius: 3%;
  font-size: 20px;
}
.updateButton button {
  width: 115px;
  height: 50px;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  background-color: #3c58f7;
  transition-duration: 0.4s;
  border-radius: 10%;
  
}

.updateButton button:hover {
  background-color: #78b0f1; 
  color: rgb(173, 211, 211);
}
.likeCount{
  position: absolute;
  top: 30%;
  left:10%;
}
.likeHart{
  position:absolute;
  top:10px

}
.comment{
  position: absolute;
  left: 70%;
  top: 30%;
@media screen and (max-width: 800px) {
  .headRight{
    min-width:auto;
  }}
}